/* BORDER HELPERS  */
.border-red {
  border: solid 2px red;
}

.border-blue {
  border: solid 2px blue;
}

.border-purple {
  border: solid 2px purple;
}

.border-orange {
  border: solid 2px orange;
}

.border-yellow {
  border: solid 2px yellow;
}

.border-green {
  border: solid 2px green;
}

.border-brown {
  border: solid 2px brown;
}

.border-pink {
  border: solid 2px pink;
}

.border-lightblue {
  border: solid 2px lightblue;
}

.border-black {
  border: solid 2px black;
}

.prueba {
  background: red;
}

// POSITION HELPERS 

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.p-fixed {
  position: fixed;
}

// SIZE HELPERS 

.p-height-complete {
  height: 100%;
}

.p-width-complete {
  width: 100% ;
}

